<div class="card" style="width: 18rem; display:flex; flex-direction:row;">
{{#each bookImg}}
  <img src="{{image}}" class="card-img-top" alt="book img">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{price}}</p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
{{/each}}
</div>